.game_container {
    width: 1500px;
    height: 1000px;
    position: absolute;
}

.space {
    background-image:url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/andromeda-galaxy-royalty-free-image-1585682435.jpg);
    width: 1500px;
    height: 1000px;
    position: absolute;
}

.ground {
    width: 1500px;
    height: 0;
    position: absolute;
    top: 1000px;
}

.Astra {
    background-image: url(https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/c5/84/b8/c584b8ec-230c-059d-c3b0-965e5e28fa6a/source/512x512bb.jpg);
    left: 750px;
}
canvas {
    border: 1px solid black;
    background-size: 100% 100%;
}
#game {
    margin-left: 1000px;
    background-size: 100% 100%;
}
.header {
    width: 1200px;
    padding: 50px;
    text-align: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/80/Hyades.jpg");
    color: white;
    font-size: 30px;
}
.timer{
    text-align: left;
    color: #ff0000;
    width: 2px;
    height: 100px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.menu {
    margin-left: 1000px;
    position: relative;
    text-align: center;
    color: white;
}
#menuimage{
    border: 5px solid black;
}
.Menutext{
    font-size: 30px;
    size: 30px;
    color: white;
    font-family: "Comic Sans MS";
}
.MenuButton{
    background-color: #b7b7b7;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
/* Gray */
.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}