@page "/Admin"
@model Admin

@{
    ViewData["Title"] = "Admin";
}


<section class="fdm-header-banner reduced-height2 ">
    <div  class = "text-center fdm">
        <h1 itemprop="name" class="banner-heading2"><span class="font-weight-bold">Users</span></h1><br>
	
    </div>
</section>

<section class="secondSelection">
	
    <div class="container">
        <div>
            <form method="post">
                <select onchange="this.form.submit()" name="tablename" id="tablename" onsubmit="">
                    <option value="Business">Business Intelligence</option>
                    <option value="SoftwareTesting">SoftwareTesting</option>
                    <option value="TechnicalOperation">TechnicalOperation</option>
                </select>
            </form>  
        </div>
        <br>
        @Html.Raw(System.IO.File.ReadAllText("AdminTable.html"))

        <br>
        <br>
            
        <div style="text-align: center; margin: 0 auto">
            <form method="post">
                <label for="PersonToDelete" style="color: whitesmoke">Enter ID for user you want to delete</label>
                <input type="text" name="PersonToDelete" id="PersonToDelete">
                <input     type="submit"><br>
            </form>

        </div>
        <br>
        <br>
        <div>
            <form action="./Admin-Login">
                <input type="submit" style="background-color: #f8f9fa; display: table; text-align: center; margin: 0 auto" value="Back to Admin Login"/>
            </form><br>
        </div>
        
        <div>
            <form action="./AdminCsvEditor">
                <input type="submit" style="background-color: #f8f9fa; display: table; text-align: center; margin: 0 auto" value="Edit Csv files"/>
            </form><br>
            </div>
    </div>

    <script> function clearIDbox(){
        document.getElementById("PersonToDelete").innerHTML = "";
    }
    </script>

    
    
</section>