@page "/AdminCsvEditor"
@using Microsoft.AspNetCore.Http
@model fdm_gamify2.AdminCsvEditor
@{
    ViewData["Title"] = "Admin";
}

<section class="fdm-header-banner reduced-height2 ">
    <div  class = "text-center fdm">
        <h1 itemprop="name" class="banner-heading2"><span class="font-weight-bold">Users</span></h1><br>
   
    </div>
    <section class="secondSelection" style="border: red solid 2px;text-align:  center">
        <div> 
            <link rel="stylesheet" href="css/siteFinal.css">
            <label style="color: white">Select table</label>
            <form id="form" method="post" onsubmit="cookiesetter()">
                <select onchange="this.form.submit()" name="tablename" id="tablename">
                    <option value="---">---</option>
                    <option value="Business">Business Intelligence</option>
                    <option value="SoftwareTesting">SoftwareTestingQuiz</option>
                    <option value="TechnicalOperation">TechnicalOperation</option>
                </select>
            </form>
        </div>
        <form method="post" onsubmit="setter()" style="text-align: center">
            @Html.Raw(HttpContext.Session.GetString("HtmlString"))
            <input type="submit" value="Update File">
        </form>
    </section>
    <br>
    <br>
    <div>
        <form action="./Admin">
            <input type="submit" style="background-color: #f8f9fa; display: table; text-align: center; margin: 0 auto" value="Back to Admin Page"/>
        </form><br>
        </div>
    <script> function clearIDbox(){
        document.getElementById("PersonToDelete").innerHTML = "";
    }
    
    function cookiesetter(){
                    document.cookie = "VisitedBefore=true";
                    alert("test")
            }
    function setter(){
            document.getElementById('tablename').value = "1"
            }
    </script>
</section>