@page "/Admin"
@model Admin

@{
    ViewData["Title"] = "Admin";
}

@*<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>*@

<section class="fdm-header-banner reduced-height2 ">
    <div  class = "text-center fdm">
        <h1 itemprop="name" class="banner-heading2"><span class="font-weight-bold">Users</span></h1><br>
	
    </div>
</section>

<section class="secondSelection">
	
    <div class="container">

        @Html.Raw(System.IO.File.ReadAllText("AdminTable.html"))

        <br>
        <br>
    </div>
    
    <div>
        <form method="post">
            <label for="PersonToDelete" style="color: whitesmoke">Enter ID for user you want to delete</label>
            <input type="text" name="PersonToDelete" id="PersonToDelete">
            <input type="submit">
        </form>

    </div>
    
    
</section>