@page
@using fdm_gamify2.Pages
@model Test_GameModel
@{
    ViewData["Title"] = "Astra";
}

<section class="fdm-header-banner reduced-height2 ">
<div  class = "text-center fdm">
	<h1 itemprop="name" class="banner-heading2"><span class="font-weight-bold">Astra Game</span></h1><br>
	
</div>
</section>

<section class="secondSelection">
	
</section>