@page
@model BranchSelectionModel
@{
        ViewData["Title"] = "Branch Selection";

	Console.Write("test");
    }

<section class="fdm-header-banner reduced-height2 ">
<div  class = "text-center fdm">
	<h1 itemprop="name" class="banner-heading2"><span class="font-weight-bold">Branch Selection</span></h1><br>
	
</div>
</section>


<section class="secondSelection" >
<div class="container">
<div class="content-wrapper">
	<div class="portfolio-items-wrapper">
		<div class="portfolio-item-wrapper">
        	<div class="img-text-wrapper">
			
				<div class="logo-wrapper">
					<a href="./Software-Testing-Games">
                		<img src="softwareTesting.jpg" alt="">
					</a>
                </div>
            	<div class="subtitle">
						Software Testing
				</div>
          	</div>
        </div>
		

		<div class="portfolio-item-wrapper">
          	<div class="img-text-wrapper">
				<div class="logo-wrapper">
					<a href="./Business-Intelligence-Games">
                		<img src="BusinessIntelligence.jpg" alt="">
					</a>
                </div>
				<div class="subtitle">
					Business Intelligence
				</div>
			</div>
		</div>


		<div class="portfolio-item-wrapper">
            <div class="img-text-wrapper">
				<div class="logo-wrapper">
					<a href="./Technical-Operation">
                		<img src="TechnicalOperation.jpg" alt="">
					</a>
                </div>
    			<div class="subtitle">
    				Technical Operation
    			</div>
    		</div>
    	</div>
	</div>
</div>
</div>

</section>