@page
@model BIGModel
@{
    ViewData["Title"] = "Business Intelligence Games";
}


<section class="fdm-header-banner reduced-height2 ">
	<div  class = "text-center fdm">
		<h1 itemprop="name" class="banner-heading2"><span class="font-weight-bold">Business Intelligence Games</span></h1><br>
	</div>
</section>

<hr class="spacer">

<section class="secondSelection ">
	<div class="container">
		<div class="content-wrapper">
			<div class="portfolio-items-wrapper">
				<div class="portfolio-item-wrapper">
        			<div class="img-text-wrapper">
						<div class="logo-wrapper">
							<h2> Select a Game </h2>
							<p> Business Intelligence consultants are customer-focused and solutions orientated. 
                    			They help businesses make smarter data-driven strategic decisions through use 
                    			of advanced data gathering and interpretation capabilities.
							</p>				
                		</div>
          			</div>
       			</div>
	
				<div class="portfolio-item-wrapper">
					<div class="img-text-wrapper">
          	
						<div class="logo-wrapper">
							<a href="./Astra-Game">
                				<img src="astraGAME.png" alt="">
							</a>
						</div>
						<div class="subtitle">
						Astra
						</div>
					</div>
				</div>

				<div class="portfolio-item-wrapper">
				<div class="img-text-wrapper">
          	
						<div class="logo-wrapper">
							<a href="./Quiz-Game">
                				<img src="quizGAME.png" alt="">
							</a>
						</div>
						<div class="subtitle">
						Quiz
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>
