@page
@model fdm_gamify2.Pages.error

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error Page</title>
</head>
<body>
<div>
    <p>You dont have access to the admin page.</p>
    <a href="./Index">Home Page</a>
</div>
</body>
</html>