@page
@using Microsoft.AspNetCore.Http
@using System.Xml.Linq
@model fdm_gamify2.Pages.GameTest

@{
	ViewData["Title"] = "Astra";
	SessionManager sessionManager = new SessionManager();
	sessionManager.QuizSetUp( HttpContext, new FileReader(),"test.csv");
}

<!DOCTYPE html>
<link rel="stylesheet" href="css/game.css">
<div id="game">
	<div class="header">
		<h1>FlappyStar</h1>
		<p id="question"></p>
		<p id="points"> </p>
	</div>
	<canvas width="1200" height="1000" >
	</canvas>
</div>


<script type='text/javascript' src='js/FlappyStar.js'></script>



