@page "/Game2"


@model fdm_gamify2.Game2


<!DOCTYPE html>

<html>
<head>
    <title>Testing</title>
</head>
<body>
<div>
    <p> this is a test</p>
</div>

<div class="game-container" onclick="">
    <div class="space">
        <div class="Astra" ></div>
    </div>
    <div class="ground"></div>
</div>
</body>
</html>