.game_container {
    width: 1500px;
    height: 1000px;
    position: absolute;
}

.space {
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F2c%2F37%2F53%2F2c37538ad1d9a09852c9ec8638c5fa8b.png&imgrefurl=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F699254279631289978%2F&tbnid=DAy0w9mQTvgupM&vet=12ahUKEwiGg7nq377tAhXSwoUKHVoKB3sQMygAegUIARDeAQ..i&docid=UBpoclqooKHDYM&w=3840&h=2160&q=space%20background&ved=2ahUKEwiGg7nq377tAhXSwoUKHVoKB3sQMygAegUIARDeAQ");
    width: 1500px;
    height: 1000px;
    position: absolute;
}

.ground {
    width: 1500px;
    height: 0;
    position: absolute;
    top: 1000px;
}

.Astra {
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fis4-ssl.mzstatic.com%2Fimage%2Fthumb%2FPurple114%2Fv4%2Fc5%2F84%2Fb8%2Fc584b8ec-230c-059d-c3b0-965e5e28fa6a%2Fsource%2F512x512bb.jpg&imgrefurl=https%3A%2F%2Fappadvice.com%2Fapp%2Fastra%2F1399058439&tbnid=2NGJ6IJQZau3wM&vet=12ahUKEwj_9oaF4L7tAhVJ-YUKHUYeA9sQMygBegQIARBX..i&docid=yQW997JncDW3oM&w=512&h=512&q=fdm%20Astra&ved=2ahUKEwj_9oaF4L7tAhVJ-YUKHUYeA9sQMygBegQIARBX");
    left: 750px;
}