@page
@using DefaultNamespace
@model IndexModel

<h1>Component 1</h1>



@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>Component 1 Property: <b>@StateContainer.Property</b></p>
<p>@FileReader.question</p>
<form action="@FileReader.fileReader("test.csv",FileReader.count)">
<input id = "Answer A" type="submit" value=@FileReader.A>
<input id = "Answer B" type="submit" value=@FileReader.B>
<input id = "Answer C" type="submit" value=@FileReader.C>
</form>
<br></br>



<script type="text/javascript">
    document.getElementById("FileReader").onclick = function () {
        location.href = "http://localhost:5000/Index";
    };
</script>