@page
@using Microsoft.AspNetCore.Http
@model fdm_gamify2.Pages.LeaderboardEntry

@{
    Console.WriteLine("Cookie data");
    
    Console.WriteLine(HttpContext.Request.Cookies.Keys);
    foreach (var key in HttpContext.Request.Cookies.Keys)
    {
        Console.WriteLine(key);
        Console.WriteLine(HttpContext.Request.Cookies[key]);
    }
    //ViewData["Title"] = "Astra";
    SessionManager sessionManager = new SessionManager();
    //Console.WriteLine(sessionManager.toString(HttpContext.Session.Get("Points")));
    //Console.WriteLine("leaderboard");
}
<!DOCTYPE html>
<link rel="stylesheet" href="css/formStyle.css">


	<section class="container-scoreSubmit">

	<div id="submission" class="wrap-scoreSubmit">

		<form class="scoreSubmit-form" method="post">
			
			<span class="scoreSubmit-form-title">
				<h1 itemprop="name" class="banner-heading2 text-center"><span class="font-weight-bold">Save your score?</span></h1><br>
			</span>
			
			<h5 class="form-title">Enter your name: </h5>
			
			<div class="wrap-input100">
				<input class="input100" type="text" id="nickname" name="nickname" placeholder="Name">
				<span class="focus-input100"></span>
			</div>
			
			<h5 class="form-title">Your Score: </h5>
			
			<div class="wrap-input100">
				<input class="input100" type="text" id="nickname" name="nickname" placeholder="Score">
				<span class="focus-input100"></span>
			</div>

			<div class="container-scoreSubmit-form-btn">
				<button class="scoreSubmit-form-btn" type="submit" id="submit">
					Save
				</button>

			</div>
		</form>
		
		
		<div class="scoreSubmit-twit text-center">
			<h3 class="form-title">Share on Twitter</h3>
			<input type="image" src="twitter.png" alt="Submit" width="155" height="155">
				<button class="scoreSubmit-form-btn" type="submit" id="submit">
				Share
				</button>
			
		</div>
		
		
	</div>


</section>

