@page "/Leaderboard"
@model Leaderboard
@{
    ViewData["Title"] = "Leaderboard";
}
<section class="fdm-header-banner reduced-height2 ">
    <div  class = "text-center fdm">
        <h1 itemprop="name" class="banner-heading2"><span class="font-weight-bold">Leaderboard</span></h1><br>
	
    </div>
</section>

<section class="secondSelection">
	
    <div class="container">

        @Html.Raw(System.IO.File.ReadAllText("leaderboardTable.html"))

        <br>
        <br>
    </div>
    
    <div>
        <form action="Branch-Selection">
            <input type="submit" style="background-color: #f8f9fa; display: table; text-align: center; margin: 0 auto" value="Back to Branch Selection"/>
        </form><br>
    </div>
    
    <div>
        <form action="GameTest">
            <input type="submit" style="background-color: #f8f9fa; display: table; text-align: center; margin: 0 auto" value="Try Again"/>
        </form>
    </div>
    
</section>


    
