@page
@model BI_QuizModel
@{
    ViewData["Title"] = "Data Analysis Quiz";
}

<section class="fdm-header-banner reduced-height2 ">
    <div  class = "text-center fdm">
        <h1 itemprop="name" class="banner-heading2"><span class="font-weight-bold">Quiz Game</span></h1><br>
	
    </div>
</section>

<section class="secondSelection">
	
</section>