@page
@model fdm_gamify2.Pages.ServerFilter

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Server Filter</title>
</head>
<body>
<div>
    <p>Your input has been filtered by the server filter.</p>
        <a href="./Index">Home Page</a>
</div>
</body>
</html>