@page
@using System.Text
@model STGModel
@{
    ViewData["Title"] = "Software Testing Games";
	SessionManager sessionManager = new SessionManager();
}

<section class="fdm-header-banner reduced-height2 ">
<div  class = "text-center fdm">
	<h1 itemprop="name" class="banner-heading2"><span class="font-weight-bold">Software Testing Games</span></h1><br>
	
</div>
</section>
<hr class="spacer">

<section class="secondSelection ">
	<div class="container">
		<div class="content-wrapper">
			<div class="portfolio-items-wrapper">
				<div class="portfolio-item-wrapper">
        			<div class="img-text-wrapper">
						<div class="logo-wrapper">
							<h2> Select a Game </h2>
							<p> As a Software Tester you will improve quality and reduce risk throughout the whole software development 
								lifecycle. Your work will prevent live incidents, which, depending on the purpose of the software, 
								could cause significant reputational damage, financial loss or even, in extreme cases, loss of life.
							</p>				
                		</div>
          			</div>
       			</div>
	
				<div class="portfolio-item-wrapper">
					<div class="img-text-wrapper">
          	
						<div class="logo-wrapper">
							<a href="./Astra-Game">
                				<img src="astraGAME.png" alt="" onclick="@SessionManager.quizFileSetter("quizQuestionTest.csv", HttpContext)">
							</a>
						</div>
						<div class="subtitle">
						Astra
						</div>
					</div>
				</div>

				<div class="portfolio-item-wrapper">
				<div class="img-text-wrapper">
          	
						<div class="logo-wrapper">
							<a href="./Quiz-Game">
                				<img src="quizGAME.png" alt="" onclick="@SessionManager.quizFileSetter("quizQuestionTest.csv", HttpContext)">
							</a>
						</div>
						<div class="subtitle">
						Quiz
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>