@page
@model MyApp.Namespace.Technical_OperationModel
@{
}

<section class="fdm-header-banner reduced-height2 ">
    <div  class = "text-center fdm">
        <h1 itemprop="name" class="banner-heading2"><span class="font-weight-bold">Technical Operation Games</span></h1><br>
	
    </div>
</section>

<hr class="spacer">

<section class="secondSelection ">
	<div class="container">
		<div class="content-wrapper">
			<div class="portfolio-items-wrapper">
				<div class="portfolio-item-wrapper">
        			<div class="img-text-wrapper">
						<div class="logo-wrapper">
							<h2> Select a Game </h2>
							<p> Technical Operations Analysts are solutions-oriented and customer focused individuals who
 								are comfortable working with people at all levels throughout the business, 
								often in high-pressure environments. Their role is to manage and maintain vital IT 
								infrastructure and to discover and communicate creative solutions to technical problems.
 								As an FDM Technical Operations Consultant, you will learn the essential criteria to support 
								an organisation’s operating activities.
							</p>				
                		</div>
          			</div>
       			</div>
	
				<div class="portfolio-item-wrapper">
					<div class="img-text-wrapper">
          	
						<div class="logo-wrapper">
							<a href="./Astra-Game">
                				<img src="astraGAME.png" alt=""  onclick="@SessionManager.fileSetter("Technical-Operation.csv", HttpContext)">
							</a>
						</div>
						<div class="subtitle">
						Astra
						</div>
					</div>
				</div>

				<div class="portfolio-item-wrapper">
				<div class="img-text-wrapper">
          	
						<div class="logo-wrapper">
							<a href="./Quiz-Game">
                				<img src="quizGAME.png" alt="">
							</a>
						</div>
						<div class="subtitle">
						Quiz
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>